h1{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font: size 50px;
}

/*class selector */
.common{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

    position: absolute;
    background-color: mintcream;
    border: solid 1px pink;
}

.header {
    top: 5px;
    left:5px;
    height: 100px;
    padding-left: 20px;
    right: 5px;
    text-align: center;
    z-index: 2;

}

.leftmenu{
    top: 111px;
    left: 5px;
    bottom: 50px;
    width: 150px;
    text-align: center;
    z-index: 1;
}

.mainbody{
    top: 111px;
    left: 161px ;
    bottom: 50px;
    right: 161px;
    padding-left: 50px;
    padding-top: 0px;
    text-align: center;
}

.rightmenu{
    top: 111px;
    bottom: 50px;
    right: 5px;
    width:150px;
    text-align: center;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    position: fixed;
}

.subheader{
    border: solid 1px;
    float: right;
}